scipy
tenacity
tiktoken
termcolor
openai
langchain
ipylangchat
langchain_openai
langchain_community
langchain_huggingface
langchain_chroma
langchain_text_splitters
pymupdf
vitessce
anywidget
uvicorn
starlette
ome-zarr
ome_types
aicsimageio
vizarr
anndata
zarr
esbuild_py 
deepmerge
python-dotenv
duckdb